# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# cpp00
*megaphone
*MyAwesomePhoneBook
*19920104_091532.log
*TheJobOfYourDreams

# cpp01
*BraiiiiiiinnnzzzZ
*Moar_brainz
*HI_THIS_IS_BRAIN
*Unnecessary_violence
*Sed_is_for_losers
*test_123 
*test_empty
*test_noperm
*harl
*harlFilter

# cpp02
*MyFirstOrthodoxClass
*MoreUsefulClass
*NowWeTalking

# cpp03

# cpp04
